In [2]:
import pandas as pd

In [96]:
datos1 = pd.read_csv("listings.csv")
datos1["neighbourhood_group_cleansed"].groupby(datos1["neighbourhood_group_cleansed"]).count().sort_values(ascending = False).count()
datos1["bathrooms"].dropna().count()

0

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,6369,"Rooftop terrace room , ensuite bathroom",13660,Simon,Chamartín,Hispanoamérica,40.45724,-3.67688,Private room,60,1,80,2019-05-14,1.21,2,180,4,NaN
1,21853,Bright and airy room,83531,Abdel,Latina,Cármenes,40.40381,-3.74130,Private room,31,4,33,2018-05-29,0.39,2,364,0,NaN
2,23001,Apartmento Arganzuela- Madrid Rio,82175,Jesus,Arganzuela,Legazpi,40.38840,-3.69511,Entire home/apt,50,15,0,NaN,NaN,5,222,0,NaN
3,24805,Gran Via Studio Madrid,346366726,A,Centro,Universidad,40.42183,-3.70529,Entire home/apt,92,5,12,2020-03-01,0.51,1,115,2,NaN
4,26825,Single Room whith private Bathroom,114340,Agustina,Arganzuela,Legazpi,40.38975,-3.69018,Private room,26,2,149,2018-05-15,1.65,1,349,0,NaN

  neighbourhood_group               neighbourhood
0          Arganzuela                     Acacias
1          Arganzuela                      Atocha
2          Arganzuela                     Chopera
3          Arganzuela                    Delicias
4          Arganzuela                    Imperial
5          Arganzuela                     Legazpi
6          Arganzuela             Palos de Moguer
7             Barajas                  Aeropuerto
8             Barajas            Alameda de Osuna
9             Barajas  Casco Histórico de Barajas